{
  "openapi": "3.1.0",
  "info": {
    "title": "u22a8.ai API · v1",
    "summary": "Versioned, resource-shaped REST API for scoring models.",
    "description": "Versioned REST surface for u22a8.ai. Resource shape: `/v1/models/{handle}/...`. One error envelope, request id on every response, cursor-based pagination, OpenAPI 3.1.\n\n## Authentication\n\nEvery endpoint requires a valid API key — `Authorization: Bearer <key>`. Issue keys in the platform console. A key authors only in namespaces it owns and reads its own namespaces plus the public ones (`u22a8` / `live` / `bench`). Within /v1, only `/v1/health` and the docs are open.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://u22a8.ai/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Liveness check",
        "description": "DB connectivity check — same probe as the top-level ``/health``.",
        "operationId": "health_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl https://u22a8.ai/v1/health"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import requests\n\nrequests.get(\"https://u22a8.ai/v1/health\").json()  # {\"status\": \"ok\"}"
          }
        ]
      }
    },
    "/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "List models",
        "description": "List models, ordered by handle. Returns a cursor-paginated page even when the result fits — clients should treat the shape as stable and opaque-cursor.\n\nWithout ``namespace``, the listing is scoped to the public ``u22a8`` namespace. Pass ``namespace=<name>`` to list elsewhere — it must be a namespace your key owns, or one of the public ones. Filter by ``state`` (``draft|busy|ready|failed|archived``) and ``kind`` (``scoring`` only at launch).",
        "operationId": "list_models_models_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 250,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          },
          {
            "name": "namespace",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Namespace"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "State"
            }
          },
          {
            "name": "kind",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Kind"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_ModelDetail_"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://u22a8.ai/v1/models?limit=20\" \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nr = requests.get(\n    \"https://u22a8.ai/v1/models\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n    params={\"limit\": 20},\n)\nfor m in r.json()[\"items\"]:\n    print(m[\"handle\"], m[\"traits\"])"
          }
        ],
        "x-mint": {
          "content": "Without a `namespace` query parameter the listing covers the public `u22a8` catalog. Pass `namespace=<name>` to list a namespace your key owns. Results are cursor-paginated: follow `next_cursor` until it is `null`."
        }
      },
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Create a model",
        "description": "Create a draft model. ``handle`` is required and must be in a namespace your key owns — there is no auto-minting. ``kind`` is reserved-now and only accepts ``scoring`` at launch.",
        "operationId": "create_model_models_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateModelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://u22a8.ai/v1/models \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"handle\": \"acme.support-tone\", \"description\": \"Warmth and clarity of support replies\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nr = requests.post(\n    \"https://u22a8.ai/v1/models\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n    json={\n        \"handle\": \"acme.support-tone\",\n        \"description\": \"Warmth and clarity of support replies\",\n    },\n)\nprint(r.json()[\"handle\"], r.json()[\"state\"])  # acme.support-tone draft"
          }
        ],
        "x-mint": {
          "content": "Creates a model in the `draft` state. The `handle` must be in a namespace your key owns. Next: add traits and samples, then train."
        }
      }
    },
    "/models/{handle}": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Get a model",
        "description": "Returns the model's structured detail as JSON. Set `Accept: text/markdown` to fetch the **model card** instead — the same markdown the MCP server exposes as the model's resource. Reading a model is never gated by its additional terms; the card is how a caller reviews those terms.",
        "operationId": "get_model_detail_models__handle__get",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelDetail"
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl https://u22a8.ai/v1/models/u22a8.commit-message \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nr = requests.get(\n    \"https://u22a8.ai/v1/models/u22a8.commit-message\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n)\nprint(r.json()[\"traits\"])"
          },
          {
            "lang": "bash",
            "label": "cURL (model card)",
            "source": "curl https://u22a8.ai/v1/models/u22a8.commit-message \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\" \\\n  -H \"Accept: text/markdown\""
          }
        ],
        "x-mint": {
          "content": "Returns JSON by default. Set `Accept: text/markdown` to fetch the **model card** — a human-readable summary of the model, its traits, and any additional terms. It is the same markdown the MCP server serves as the model's resource."
        }
      },
      "patch": {
        "tags": [
          "Models"
        ],
        "summary": "Update a model",
        "operationId": "update_model_models__handle__patch",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateModelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X PATCH https://u22a8.ai/v1/models/acme.support-tone \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"description\": \"Tone and clarity of customer replies\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nr = requests.patch(\n    \"https://u22a8.ai/v1/models/acme.support-tone\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n    json={\"description\": \"Tone and clarity of customer replies\"},\n)"
          }
        ],
        "x-mint": {
          "content": "Patches model metadata; omitted fields are left unchanged. Lifecycle state is not patchable — use `POST …/train` to move a draft to `ready` and `DELETE` to archive."
        }
      },
      "delete": {
        "tags": [
          "Models"
        ],
        "summary": "Delete a model",
        "description": "Archive a model: it moves to the ``archived`` state and stops serving on /v1. Samples and version history are retained. Idempotent — archiving an already-archived model returns 200. Permanent deletion is handled through account deletion, not this endpoint.",
        "operationId": "delete_model_models__handle__delete",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X DELETE https://u22a8.ai/v1/models/acme.support-tone \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nrequests.delete(\n    \"https://u22a8.ai/v1/models/acme.support-tone\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n)"
          }
        ]
      }
    },
    "/models/{handle}/traits": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "List traits",
        "description": "Trait metadata with sample counts, descriptions, and polarity labels.",
        "operationId": "list_traits_models__handle__traits_get",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TraitsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl https://u22a8.ai/v1/models/u22a8.commit-message/traits \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nr = requests.get(\n    \"https://u22a8.ai/v1/models/u22a8.commit-message/traits\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n)\nfor t in r.json()[\"traits\"]:\n    print(t[\"key\"], t[\"sample_count\"])"
          }
        ]
      },
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Batch upsert traits",
        "description": "Add or replace traits on a model, keyed by ``key`` (or derived from ``name`` when ``key`` is omitted). Scoring-kind only.",
        "operationId": "add_traits_models__handle__traits_post",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TraitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TraitsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://u22a8.ai/v1/models/acme.support-tone/traits \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"traits\": [{\"name\": \"Warmth\", \"positive_label\": \"warm\", \"negative_label\": \"cold\"}]}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nr = requests.post(\n    \"https://u22a8.ai/v1/models/acme.support-tone/traits\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n    json={\"traits\": [\n        {\"name\": \"Warmth\", \"positive_label\": \"warm\", \"negative_label\": \"cold\"},\n    ]},\n)"
          }
        ],
        "x-mint": {
          "content": "<Note>Draft-only — trait and sample edits apply only while the model is in the `draft` state. A trained (`ready`) model returns `409`; the samples and traits are frozen into its versions.</Note>"
        }
      }
    },
    "/models/{handle}/traits/discover": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Discover traits",
        "description": "Derive intrinsic traits from the model's labelled samples and attach them. Draft-only. Returns 202 with a run id once enqueued; the model enters the ``busy`` state and returns to ``draft`` with the new traits visible on ``GET …/traits`` when discovery completes. A repeat of an in-flight or completed run with the same samples and effort returns 409 with the existing run id in ``X-Run-Id``.",
        "operationId": "discover_traits_models__handle__traits_discover_post",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscoverRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainResponse"
                }
              }
            }
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainResponse"
                }
              }
            },
            "description": "Accepted"
          },
          "409": {
            "description": "Matching discovery already queued/running/completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://u22a8.ai/v1/models/acme.support-tone/traits/discover \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"effort\": \"medium\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, time, requests\n\nbase = \"https://u22a8.ai/v1/models/acme.support-tone\"\nheaders = {\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"}\n\nrequests.post(f\"{base}/traits/discover\", headers=headers,\n              json={\"effort\": \"medium\"})\n# Discovery runs asynchronously; poll the model until it leaves `busy`.\nwhile requests.get(base, headers=headers).json()[\"state\"] == \"busy\":\n    time.sleep(5)"
          }
        ],
        "x-mint": {
          "content": "Derives intrinsic traits from the model's samples and attaches them. Draft-only and asynchronous: it returns `202` with a run id, the model enters `busy`, and the new traits appear on `GET …/traits` once it returns to `draft`. Poll `GET …/models/{handle}` for the state — there is no run resource to fetch."
        }
      }
    },
    "/models/{handle}/traits/{key}": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Get one trait",
        "description": "One trait's metadata. Includes its ``kind`` and, for discovered (intrinsic) traits, the discovery diagnostics — ``discrimination``, ``explained_variance``, and ``anchor_sample_ids``. ``key`` matches by trait key or name.",
        "operationId": "get_trait_models__handle__traits__key__get",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TraitDetail"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl https://u22a8.ai/v1/models/acme.support-tone/traits/warmth \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nr = requests.get(\n    \"https://u22a8.ai/v1/models/acme.support-tone/traits/warmth\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n)"
          }
        ]
      },
      "patch": {
        "tags": [
          "Models"
        ],
        "summary": "Update one trait",
        "operationId": "update_trait_models__handle__traits__key__patch",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTraitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TraitsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X PATCH https://u22a8.ai/v1/models/acme.support-tone/traits/warmth \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"description\": \"How warm and personable the reply reads\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nrequests.patch(\n    \"https://u22a8.ai/v1/models/acme.support-tone/traits/warmth\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n    json={\"description\": \"How warm and personable the reply reads\"},\n)"
          }
        ],
        "x-mint": {
          "content": "<Note>Draft-only — trait and sample edits apply only while the model is in the `draft` state. A trained (`ready`) model returns `409`; the samples and traits are frozen into its versions.</Note>"
        }
      },
      "delete": {
        "tags": [
          "Models"
        ],
        "summary": "Delete one trait",
        "operationId": "delete_trait_models__handle__traits__key__delete",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X DELETE https://u22a8.ai/v1/models/acme.support-tone/traits/warmth \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nrequests.delete(\n    \"https://u22a8.ai/v1/models/acme.support-tone/traits/warmth\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n)"
          }
        ],
        "x-mint": {
          "content": "<Note>Draft-only — trait and sample edits apply only while the model is in the `draft` state. A trained (`ready`) model returns `409`; the samples and traits are frozen into its versions.</Note>"
        }
      }
    },
    "/models/{handle}/samples": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Batch upsert samples",
        "description": "Append samples to a model. Each sample's ``trait`` field is resolved by key or name. Scoring-kind only.",
        "operationId": "add_samples_models__handle__samples_post",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SamplesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddSamplesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://u22a8.ai/v1/models/acme.support-tone/samples \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"samples\": [{\"trait\": \"warmth\", \"text\": \"Happy to help — let us sort this out together.\", \"quality\": 1.0}, {\"trait\": \"warmth\", \"text\": \"Request denied. Refer to the policy.\", \"quality\": 0.0}]}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nr = requests.post(\n    \"https://u22a8.ai/v1/models/acme.support-tone/samples\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n    json={\"samples\": [\n        {\"trait\": \"warmth\", \"text\": \"Happy to help \\u2014 let us sort this out together.\", \"quality\": 1.0},\n        {\"trait\": \"warmth\", \"text\": \"Request denied. Refer to the policy.\", \"quality\": 0.0},\n    ]},\n)\nprint(r.json()[\"ids\"])"
          }
        ],
        "x-mint": {
          "content": "Each sample labels one trait: `quality` `1.0` is the positive pole, `0.0` the negative. Up to 500 samples per request.\n\n<Note>Draft-only — trait and sample edits apply only while the model is in the `draft` state. A trained (`ready`) model returns `409`; the samples and traits are frozen into its versions.</Note>"
        }
      },
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "List samples",
        "description": "Cursor-paginated sample listing. ``trait`` filters by key or name.",
        "operationId": "list_samples_models__handle__samples_get",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          },
          {
            "name": "trait",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Trait"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 100,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_SampleRecordOut_"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl \"https://u22a8.ai/v1/models/acme.support-tone/samples?trait=warmth&limit=100\" \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nr = requests.get(\n    \"https://u22a8.ai/v1/models/acme.support-tone/samples\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n    params={\"trait\": \"warmth\", \"limit\": 100},\n)"
          }
        ]
      }
    },
    "/models/{handle}/samples/{sample_id}": {
      "delete": {
        "tags": [
          "Models"
        ],
        "summary": "Delete one sample",
        "operationId": "delete_sample_models__handle__samples__sample_id__delete",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          },
          {
            "name": "sample_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "title": "Sample Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X DELETE https://u22a8.ai/v1/models/acme.support-tone/samples/4217 \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\""
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nrequests.delete(\n    \"https://u22a8.ai/v1/models/acme.support-tone/samples/4217\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n)"
          }
        ],
        "x-mint": {
          "content": "<Note>Draft-only — trait and sample edits apply only while the model is in the `draft` state. A trained (`ready`) model returns `409`; the samples and traits are frozen into its versions.</Note>"
        }
      }
    },
    "/models/{handle}/train": {
      "post": {
        "tags": [
          "Models"
        ],
        "summary": "Train (or re-tune)",
        "description": "Train the model or re-tune it. From ``draft``, a first call runs a full training pass and moves the model to ``ready``. From ``ready``, set ``reoptimize_params=true`` to run a fresh parameter search; without it the call is a no-op, since routine retraining on new samples happens automatically. Returns 202 with a run id once enqueued; a matching in-flight run returns 409 with its id in ``X-Run-Id``.",
        "operationId": "train_model_models__handle__train_post",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainResponse"
                }
              }
            }
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainResponse"
                }
              }
            },
            "description": "Accepted"
          },
          "409": {
            "description": "Matching run already queued/running/completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://u22a8.ai/v1/models/acme.support-tone/train \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"effort\": \"medium\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, time, requests\n\nbase = \"https://u22a8.ai/v1/models/acme.support-tone\"\nheaders = {\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"}\n\nrequests.post(f\"{base}/train\", headers=headers, json={\"effort\": \"medium\"})\n# Training runs asynchronously; poll until the model is ready.\nwhile requests.get(base, headers=headers).json()[\"state\"] == \"busy\":\n    time.sleep(10)"
          }
        ],
        "x-mint": {
          "content": "Asynchronous: a first train from `draft` returns `202` with a run id and moves the model through `busy` to `ready`. Poll `GET …/models/{handle}` for the state. From a `ready` model, pass `reoptimize_params: true` to force a fresh parameter search; otherwise routine retraining on new samples happens automatically."
        }
      }
    },
    "/models/{handle}/score": {
      "post": {
        "tags": [
          "Scoring"
        ],
        "summary": "Score content",
        "description": "Score content against the model's traits. URLs in `content` are auto-fetched and their extracted text is scored. Plain-text bodies (curl convenience: pipe a string or URL with no JSON wrapper) are accepted alongside JSON. Set `Accept: text/plain` for the bar-chart formatter.",
        "operationId": "score_models__handle__score_post",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScoreResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScoreRequest"
              }
            },
            "text/plain": {
              "schema": {
                "type": "string",
                "description": "Raw text or URL to score (curl convenience)."
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl https://u22a8.ai/v1/models/u22a8.commit-message/score \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\" \\\n  -H \"Content-Type: text/plain\" \\\n  --data-binary 'Fix race condition in worker dispatch by draining the in-flight queue before shutdown'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nr = requests.post(\n    \"https://u22a8.ai/v1/models/u22a8.commit-message/score\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n    json={\"content\": \"Fix race condition in worker dispatch by draining the in-flight queue before shutdown\"},\n)\ncard = r.json()\nprint(card[\"composite\"], card[\"scores\"])"
          },
          {
            "lang": "bash",
            "label": "cURL (text view)",
            "source": "curl https://u22a8.ai/v1/models/u22a8.commit-message/score \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\" \\\n  -H \"Accept: text/plain\" \\\n  -H \"Content-Type: text/plain\" \\\n  --data-binary 'Fix race condition in worker dispatch'"
          }
        ],
        "x-mint": {
          "content": "Send `content` as JSON, or the raw text with `Content-Type: text/plain`. A URL in `content` is fetched and its extracted text is scored. Set `Accept: text/plain` for a bar-chart rendering instead of JSON. An optional `feedback` map captures labels as new samples for continuous learning. The full response shape is documented in [the score card](/concepts/score-card)."
        }
      }
    },
    "/models/{handle}/compare": {
      "post": {
        "tags": [
          "Scoring"
        ],
        "summary": "Compare two texts",
        "description": "Score two texts (`a` is baseline, `b` is candidate) and return the per-trait delta plus the overall improvement. URLs in `a` and `b` are auto-fetched.",
        "operationId": "compare_models__handle__compare_post",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompareRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompareResponse"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl https://u22a8.ai/v1/models/u22a8.commit-message/compare \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"a\": \"fix bug\", \"b\": \"Fix race condition in worker dispatch by draining the in-flight queue before shutdown\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nr = requests.post(\n    \"https://u22a8.ai/v1/models/u22a8.commit-message/compare\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n    json={\n        \"a\": \"fix bug\",\n        \"b\": \"Fix race condition in worker dispatch by draining the in-flight queue before shutdown\",\n    },\n)\nprint(r.json()[\"improvement\"], r.json()[\"per_trait\"])"
          }
        ],
        "x-mint": {
          "content": "Scores a baseline `a` against a candidate `b` and returns the per-trait delta plus the overall improvement (`b.composite − a.composite`). URLs in `a` and `b` are auto-fetched. Set `Accept: text/plain` for a side-by-side rendering."
        }
      }
    },
    "/extract": {
      "post": {
        "tags": [
          "Extract"
        ],
        "summary": "Fetch a URL and extract its text",
        "description": "Fetch a URL and return its extracted text — the same readable text the score endpoint scores when given a URL. Includes a content hash for deduplication.",
        "operationId": "extract_extract_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtractRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtractResponse"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "413": {
            "description": "Request body exceeds the size limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "400": {
            "description": "Malformed request — a bad parameter, value, or empty body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "bash",
            "label": "cURL",
            "source": "curl -X POST https://u22a8.ai/v1/extract \\\n  -H \"Authorization: Bearer $U22A8_API_KEY\" \\\n  -H \"Content-Type: application/json\" \\\n  -d '{\"url\": \"https://example.com/article\"}'"
          },
          {
            "lang": "python",
            "label": "Python",
            "source": "import os, requests\n\nr = requests.post(\n    \"https://u22a8.ai/v1/extract\",\n    headers={\"Authorization\": f\"Bearer {os.environ['U22A8_API_KEY']}\"},\n    json={\"url\": \"https://example.com/article\"},\n)\nprint(r.json()[\"content_sha256\"])"
          }
        ],
        "x-mint": {
          "content": "Returns the same readable text the score endpoint extracts from a URL, plus a content hash for deduplication. Useful to preview what will be scored."
        }
      }
    },
    "/models/{handle}/versions": {
      "get": {
        "tags": [
          "Versions"
        ],
        "summary": "List versions",
        "description": "List a model's versions, newest first. Each version is a snapshot of the trained parameters. The cursor is the lowest ``version_no`` from the previous page.",
        "operationId": "list_versions_models__handle__versions_get",
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Model handle, e.g. 'u22a8.technical-writing'.",
              "examples": [
                "u22a8.technical-writing"
              ],
              "title": "Handle"
            },
            "description": "Model handle, e.g. 'u22a8.technical-writing'."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 250,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Cursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Page_VersionSummary_"
                }
              }
            }
          },
          "422": {
            "description": "Request failed validation, or the handle is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "An upstream dependency (database or model service) is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks namespace ownership or the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "No such model, trait, sample, or version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Lifecycle conflict — model busy, a draft-only mutation on a non-draft model, or an idempotent retry of an in-flight run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
[...]
